<section id="todos_edit_page" class="page will_slide_left">
  
  <header>
    <h1>{{{ title }}}</h1>
    <nav>
      <ul>
        <li class="back">
          <a href="#/todos/index">Back</a>
        </li>
      </ul>
    </nav>    
  </header>
  
  <div class="body">
  
    <section id="todo_check_and_title" class="full">
      <input type="checkbox">
      <textarea id="todo_title">Create and submit the Refresh Chicago expense report with receipts</textarea>
    </section>
  
    <!-- <section>
      <header>
        <h2>Notes</h2>
      </header>
      
      <textarea id="todo_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</textarea>
    </section> -->
  
    <section id="todo_tags">
    
      <header>
        <h2>Tag with:</h2>
      </header>
    
      <ul class="checkbox_list">
    
        {{# tags }}
        <li class="{{{ checked_attribute }}}">
          <label>
            <input type="checkbox" {{{ checked_attribute }}}>
            <span class="title">{{{ title }}}</span>
          </label>
        </li>
        {{/ tags }}
    
      </ul>
    
    </section>
  
  </div>
    
</section>