<section id="todos_index_filter_panel" class="panel will_slide_up">
  
  <header>
    <h1>{{{ title }}}</h1>
    <nav>
      <ul>
        <li class="back primary">
          <a href="#/todos">Done</a>
        </li>
      </ul>
    </nav>    
  </header>
  
  <div class="body">

    <section id="todo_tags">
    
      <header>
        <h2>Show Todos with:</h2>
      </header>
    
      <ul class="checkbox_list">
    
        {{# tags }}
        <li class="{{{ checked_attribute }}}">
          <label>
            <input type="checkbox" {{{ checked_attribute }}}>
            <span class="title">{{{ title }}}</span>
          </label>
        </li>
        {{/ tags }}
    
      </ul>
    
    </section>
  
  </div>
  
</section>


