<section id="todos_new_panel" class="panel will_slide_up">
  
  <header>
    <h1>{{{ title }}}</h1>
    <nav>
      <ul>
        <li class="back">
          <a href="#/todos/index">Done</a>
        </li>
        <li class="new primary">
          <a href="#/todos/new">Save</a>
        </li>
      </ul>
    </nav>    
  </header>
  
  <div class="body">

    <section id="todo_check_and_title" class="full">
      <input type="checkbox">
      <textarea id="todo_title"></textarea>
    </section>
  
    <!-- <section>
      <header>
        <h2>Notes</h2>
      </header>
      
      <textarea id="todo_description"></textarea>
    </section> -->
  
    <section id="todo_tags">
    
      <header>
        <h2>Tag with:</h2>
      </header>
    
      <ul class="checkbox_list">
    
        {{# tags }}
        <li>
          <label>
            <input type="checkbox">
            <span class="title">{{{ title }}}</span>
          </label>
        </li>
        {{/ tags }}
    
      </ul>
    
    </section>
      
  </div>
  
</section>


