#todos
  @include reset
  @include box-shadow( 0 0 5px rgba(0, 0, 0, .5) )
  background-color: white
  
  li
    border-top: 1px solid $grey-light
    padding: $lh * .5
    
    &:first-child
      border-top: 0
    
    .title
      color: black
      font-weight: bold
      margin-left: $lh * .25
      text-decoration: none