#todos_index_page
  -webkit-transform: translate(0, 0)

  body.slide_left &
    -webkit-transform: translate(-100%, 0)

#todos 
  
  li
    
    .title
    
      &:active
        @include text-shadow-dark
        background-color: $blue
        color: white
    
    &.checked
      border-color: $grey-light
    
      .title
        @include text-shadow-light
        background-color: $grey-light + #111
        color: $grey-dark + #444