<section class="page">
  
  <header>
    <h1>{{{ title }}}</h1>
    <nav>
      <ul>
        <li class="filter">
          <a href="#">Filter</a>
        </li>
        <li class="new">
          <a href="#">New</a>
        </li>
      </ul>
    </nav>    
  </header>
  
  <div class="body">
  
    <section id="todos" class="full">
      <ul class="checkbox_list">
    
        {{# todos }}
          <li>
            <input type="checkbox" {{{ checked_attribute }}}>
            <a class="title" href="/design/todos/show">{{{ title }}}</a>
          </li>
        {{/ todos }}
    
      </ul>
    </section>
  
  </div>
  
</section>


